@model MusicAssistantMvcCore.Models.ArtistModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div>
    @if (Model.UserFollow.Where(x => x.ArtistId == Model.Id).Count() == 0)
    {
        <a asp-action="FollowOrUnfollow" asp-controller="Artist" asp-route-id="@Model.Id">Follow</a>
    }
    else
    {
        <a asp-action="FollowOrUnfollow" asp-controller="Artist" asp-route-id="@Model.Id">Unfollow</a>
    }
</div>
<div>
    <h4>ArtistModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pseudonym)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pseudonym)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeathDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeathDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CareerStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CareerStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CareerEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CareerEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Biography)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Biography)
        </dd>
        <dd>
            <img src="@Url.Content(Model.ArtistPhotoUrl)" style="height:250px;width:250px;" />
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Moderator"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
